{
    "extends": "airbnb",

    "globals":
    {
        "window": true,
        "document": true
    },

    "rules": {
        "no-console": "off",
    },
    "env": {
        "mocha": true
    }

}
